.container {
  position: relative;
}

.input {
  width: 100%;
  outline: none;
  background-color: var(--foreground-color);
  border: 1px solid var(--foreground-color);
  border-radius: var(--border-radius);
  padding: .875em 1.5em;
  color: var(--text-color-primary);
  font-size: 1rem;
  font-weight: 500;
}

.input:not(:placeholder-shown):valid {
  border-color: var(--success-color);
}

.input:not(:placeholder-shown):valid + .label {
  color: var(--success-color);
}

.input:not(:placeholder-shown):invalid {
  border-color: var(--error-color);
}

.input:not(:placeholder-shown):invalid + .label {
  color: var(--error-color);
}

.label {
  margin-inline: -0.5em;
  padding-inline: 0.5em;
  font-weight: 500;
  color: var(--text-color-inactive);
  background: linear-gradient(to top, var(--foreground-color) 50%, transparent 50%);
  position: absolute;
  top: 50%;
  left: 1.5em;
  transform: translateY(-50%);
  pointer-events: none;
  transition: top var(--transition-duration),
  left var(--transition-duration),
  font-size var(--transition-duration),
  color var(--transition-duration);
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label {
  top: 0;
  left: 1em;
  font-size: 0.95em;
  color: var(--text-color-primary);
}
